*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial;
    color: white;
    text-align: center;
    background-color:#111;

}

.home{
     
    height: 35vh;
    background-image:linear-gradient(#0000, #0000),
                         url('plane.jpg') center/cover;
     padding-top: 35vh;

}

.about{
    text-align: end;
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin: 40px auto;
    align-items: center;
    padding: 0 16px;
}

.profile-photo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display:flex;

}

.about h2{
    margin: 0 0 10px 0;
    color: aqua;
   text-align: end;
   display:flex;
}

.about-text{
    margin: 0;
    text-align: end;
    display: flex;
}

.about p{
    font-size: 20px;
}
h1{
    font-size: 40px;
}

span{
    color: cyan;

}

h2{
    margin: 10px;;
}
p{
    margin: 15px;
}
a{
    color: white;
    border: 2px solid cyan;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
}

#about{
    padding: 80px 20px;
}
